<div><%= toProfile.name %>,</div>
<div><%= fromProfile.name %> has accecpted your challenge to play <%= gameName %>.</div>
<a href="<%= gameUrl %>">Click here to play.</a></div>
<div>from: <%= fromProfile.name %></div>
<img src="<%= fromProfile.pict %>"></img>

<div>time queued: <%= new Date(timeQueued).toUTCString() %></div>
<div>time Sent: <%= new Date(timeSent).toUTCString() %></div>
<div>retries: <%= retries %></div>